@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  outline: none;
  border-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito sans', 'Open sans', Arial, sans-serif;
  letter-spacing: 0.3px;
}

.container {
  width: min(100% - 30px, 1080px);
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
    background: #000 url(../img/hero-banner.jpg) center center / cover no-repeat fixed;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: -1;
}

h1 {
    color: #fff;
    font-size: 40px;
    position: relative;
    width: fit-content;
    display: block;
    text-align: center;
}