@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  outline: none;
  border-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito sans', 'Open sans', Arial, sans-serif;
  background-color: #191720;
  color: #fff;
  letter-spacing: 0.3px;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}